
@media (max-width: 1366px){
}

html {
  scroll-behavior: smooth;
}

body {
	background-color:#F6F6F3;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1366 768'%3E%3Cdefs%3E%3Cstyle%3E .a %7B fill: none; stroke: %2391b5c4; stroke-miterlimit: 10; stroke-width: 2px; %7D %3C/style%3E%3C/defs%3E%3Cline class='a' x1='902.2' y1='49.93' x2='920.2' y2='49.93'/%3E%3Cline class='a' x1='911.2' y1='67.43' x2='911.2' y2='49.93'/%3E%3Cpolyline class='a' points='1299 49.68 1317 49.68 1317 67.68'/%3E%3Cpolyline class='a' points='49.91 67.68 49.91 49.68 67.91 49.68'/%3E%3Cline class='a' x1='1316.77' y1='375.46' x2='1316.77' y2='393.46'/%3E%3Cline class='a' x1='1307' y1='384.46' x2='1316.79' y2='384.46'/%3E%3Cpath class='a' d='M1317,391.28a6.82,6.82,0,1,1,0-13.64'/%3E%3Cline class='a' x1='911.2' y1='393.21' x2='911.2' y2='375.71'/%3E%3Cline class='a' x1='50.14' y1='393.46' x2='50.14' y2='375.46'/%3E%3Cline class='a' x1='59.91' y1='384.46' x2='50.12' y2='384.46'/%3E%3Cpath class='a' d='M49.91,377.64a6.82,6.82,0,0,1,0,13.64'/%3E%3Cline class='a' x1='1316.41' y1='226.11' x2='1316.41' y2='208.61'/%3E%3Cline class='a' x1='1325.16' y1='217.36' x2='1307.66' y2='217.36'/%3E%3Cpolyline class='a' points='437.32 49.8 455.32 49.8 455.32 67.8'/%3E%3Cpolyline class='a' points='67.56 269.38 49.56 269.38 49.56 251.38'/%3E%3Cline class='a' x1='455.49' y1='277.98' x2='455.49' y2='260.48'/%3E%3Cline class='a' x1='464.24' y1='269.23' x2='446.74' y2='269.23'/%3E%3Cline class='a' x1='455.2' y1='393.21' x2='455.2' y2='375.71'/%3E%3Cline class='a' x1='463.52' y1='717.73' x2='445.52' y2='717.73'/%3E%3Cline class='a' x1='454.52' y1='700.23' x2='454.52' y2='717.73'/%3E%3Cpolyline class='a' points='66.72 717.98 48.72 717.98 48.72 699.98'/%3E%3Cpolyline class='a' points='1315.81 699.98 1315.81 717.98 1297.81 717.98'/%3E%3Cline class='a' x1='49.31' y1='541.55' x2='49.31' y2='559.05'/%3E%3Cline class='a' x1='40.56' y1='550.3' x2='58.06' y2='550.3'/%3E%3Cpolyline class='a' points='928.4 717.86 910.4 717.86 910.4 699.86'/%3E%3Cpolyline class='a' points='1298.16 498.28 1316.16 498.28 1316.16 516.28'/%3E%3Cline class='a' x1='910.23' y1='489.68' x2='910.23' y2='507.18'/%3E%3Cline class='a' x1='901.48' y1='498.43' x2='918.98' y2='498.43'/%3E%3C/svg%3E%0A");
background-repeat: repeat-y;
background-position: top 20px center;
background-size: contain;
font-family: Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
}
a{text-decoration:none;
	color:#606061;}

#page-container {
  position: relative;
  min-height: 90vh;
}
.main{
	padding-left: 4%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: right;

}

li a {
  padding: 10px;
	font-size: 11px;
	font-weight: 600;
	letter-spacing: 3px;
	text-align: right;
	padding-right: 10px;
	color: black;
	
}

.header{
	font-size: 15px;
	font-weight: 800;
	letter-spacing: 3px;
	text-align: right;
	padding-right: 20px;
	position: fixed;
	top:10px;
	right:0px;
}

.pagetitle{
	font-size: 27px;
	font-weight: 800;
	letter-spacing: 6px;
	line-height: 30px;
	text-align: left;
	padding-top: 50px;
	padding-left: 0px;
	color:#689B77;
}

.projectlist{padding-top:20px;
}


a:hover{
	color:#AFCAB7;
}

.catagoryTop{
	padding-top:0px;
	padding-bottom: 0px;
	margin-top:30px;
	transition: .5s ease;
	margin-bottom:20px;
}

.titles {
font-size: 25px;
font-weight: 800;
letter-spacing: 3px;
line-height: 25px;
margin-top:0px;
margin-bottom:0px;
}

.tags{
	font-size: 15px;
font-weight: 500;
letter-spacing: 1.5px;
line-height: 15px;
margin-top:5px;
}


.rowTop{display:flex;}

.columnTop{float:left;}

.left{
	width:29.5%;padding-left:5px;
	padding-right: 10px;
	
}
.right{
	width:66%;padding-left:30px;
	padding-right: 40px;
	
}


.text{
	font-size:15px;
	font-weight:300;
	letter-spacing: 2px;
}

.highlight{
	font-size:15px;
	font-weight:800;
	letter-spacing: 2px;
	text-align: center;
}

.projectlist {
	padding-top:0px;
	padding-left:10px;
	padding-right: 15px;
  overflow: hidden;}

  .photo {
	display:grid;
		font-size: 15px;
		letter-spacing: 1.5px;
		padding-top: 0px;
	  grid-template-columns: 50% 50%;
	column-gap: 0px;
		color: #606061;
	}
	
	  .details {
		display:grid;
			font-size: 15px;
			letter-spacing: 1.5px;
			padding-top: 0px;
		  grid-template-columns: 50% 50%;
		column-gap: 0px;
			color: #606061;
		}

	.more {
		padding-top:0px;
		padding-left:15%;
		padding-right: 15%;
			font-size: 15px;
			letter-spacing: 1.5px;
			font-weight: 400;
			color: #606061;
		}

	.long {
		padding-left:40px;
	}

.rowTopMobile
{display:none;}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

iframe.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
  }


#footer {
	font-size:12px;
	letter-spacing: 1px;
   left: 0;
   bottom: 0;
   width: 100%;
	background-color: #F6F6F3;
   text-align: center;
	position: absolute;
	height:0px;
	padding-top:10px;

}


@media only screen and (max-width: 800px) {
}

@media only screen and (max-width: 700px) {
	
	#footer{
		font-size:8px;
	}

	.rowTop
	{display: none;}
  
  .rowTopMobile
  {display:block;
	padding-right:20px;}
}
	
@media only screen and (max-width: 640px) {
	
}